        :root {
            --bgc:#3c6e71;
            --bgc2: black;
            --color:white;
        }

        * {
            margin:0px;
            padding:0px;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body {
            background-color: var(--bgc);
            text-align: center;
            background-image: url("img/bg.jpeg") ;
            background-attachment: fixed;
        }




        figure {
            background-color: white;
            color:black;
            padding:10px;
            text-align: center;
        }

        figure h3 {
            color:red
        }
        main {
            width:90%;
            margin-left:5%;
            grid-gap: 2vw;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            

        }

        h2 {
            margin-top:4%;
            font-size:1.7rem;
            padding:1%;
            color:white;
        }
        nav ul li a {
            text-decoration: none !important;
            font-size:2vw;

            padding: 3%;
            background-color: white;
            color:red !important;
            text-align: center;
            display:block;
            text-shadow: 0.1vw 0.1vw black;

            
        }

        nav ul li :hover {
            background-color:#ca0f0f;
            color:white !important;
            transition: background-color 0.5s, color 0.5s;
     
        }

        nav ul li {
            padding: 4%;
        }

        nav {
            opacity:80%;
            padding: 1%;
            width:100%;
            clear:both;
            background-color: var(--bgc2);
        }
        nav ul {
            padding:1% , 0.5%;
            grid-column-gap: 5%;
            align-items: center;
            display:grid;
            grid-template-columns:  repeat(5, 1fr);
        }

        .logo {
            width:20%;
            display:block;
            min-width:200px;


        }
        header section {
            width:100%;
            display:grid;
            grid-template-columns: 1fr 1fr;
        }

        
        div.img {
            background-position: center;
            width:100%;
            background-color: black;
            height:30vh;
            background-size: cover;
        }
        .product h3 {
            padding:1%;
        }
        h1 {
            font-size:2rem
        }
        header section div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width:100%;
    
        }

        footer{
            margin-top:5%;
            opacity:0.8;
            color:white;
            width:100%;
            clear:both;
            background-color:black;
        }
        footer a {
            display:block;
            width:2vw;
            height:2vw;
            min-width:40px;
            min-height:40px;

            display:inline-block;
            margin:1%;
            background-size:cover;
        }

        span {
            color:red;

        }
     
        @media only screen and (max-width: 600px){
            main {
                grid-template-columns: 1fr;
                
            }
            div.img {
                
                height:80vh;
                background-position: top center;
            }
          }

    